$font-stack: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Lucida Grande", Arial, sans-serif;
$font-stack-monospace: "SF Mono", Menlo, Monaco, Consolas, "Courier New", monospace;

$foreground-color: #515151;
$screen-background-color: #fbfbfb;

$accent-color: #893ff4;

$min-font-size: 14.666;
$min-page-width: 320;
$max-font-size: 26.666;
$max-page-width: 1280;

$header-font-scale: 1.82em;
$header-image-scale: 3.3em;
$header-image-margin: .1em;

$blockquote-padding: .5em;
$blockquote-border-width: .1em;

@import "webfonts";
@import "mixins";
@import "highlight";

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  font-family: $font-stack;
  min-height: 100%;
  min-height: 100vh;
  margin: 0;
  color: $foreground-color;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;

  @include dynamic-font-size(
    $min-font-size: $min-font-size,
    $min-page-width: $min-page-width,
    $max-font-size: $max-font-size,
    $max-page-width: $max-page-width
  );

  @media screen {
    background-color: $screen-background-color;
  }
}

body,
header,
.pagination {
  display: block;
  display: -webkit-flex;
  display: flex;
}

body,
header {
  -webkit-justify-content: center;
  justify-content: center;
}

a {
  &:link,
  &:visited {
    color: $accent-color;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  @include printable-hyperlink('jessicastokes.net');

  header h1 &[href]:after {
    // Don't print hyperlink on heading
    content: '';
  }
}

h2 {
  font-size: inherit;
  color: $accent-color;
  margin: 0;

  + p {
    margin-top: 0;
  }

  + span + h3 {
    display: inline-block;
    margin-bottom: 0;
  }
}

h3 {
  font-size: inherit;
  display: inline;
}

.blog-posts > li > a + .meta:before,
article h2:after,
h3:after {
  content: ' ✶ ';
  color: black;
  text-decoration: none;
}

article h2,
h3 + p {
  display: inline;
}

p + h3 {
  display: block;
  display: inline-block;
  margin: 0;
}

header {
  top: 0;
  width: 100%;
  padding-top: .25em;
  padding-bottom: 2em;
  margin-bottom: -1.5em;
  text-align: left;
  pointer-events: none;

  @media screen {
    position: -webkit-sticky;
    position: sticky;
    background: linear-gradient(to bottom, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 10%, rgba(251,251,251,0.8) 70%, rgba(251,251,251,0) 100%);
  }

  div {
    pointer-events: all;
  }

  h1 {
    margin: 0;
    font-size: $header-font-scale;
    font-weight: normal;
    line-height: .9em;
  }
}

.scaffolding {
  width: 100%;
  text-align: justify;
  padding: .5em 1em 4em 1em;

  @media screen {
    max-width: 28em;
  }

  > p:first-child {
    margin-top: 0;
  }
}

.blog-posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

article > :last-child {
  margin-bottom: 0;
}

li > .meta,
article h2 + .meta {
  white-space: nowrap;
}

.footnote-definition {
  display: flex;
  margin: 1em 0;

  > sup.footnote-definition-label {
    font-size: 1em;
    vertical-align: baseline;
    text-align: right;
    min-width: 40px;
    padding-right: .5em;

    &:after {
      content: '.'
    }
  }

  > p {
    margin: 0;
  }
}

.pagination {
  margin: 2em;
  font-size: .9em;

  .previous,
  .next {
    -webkit-flex: 1;
    flex: 1;
  }

  .previous {
    text-align: left;
  }

  .next {
    text-align: right;
  }
}

blockquote {
  margin: 0 (-.5 * ($blockquote-padding + $blockquote-border-width));
  border-left: $blockquote-border-width solid #777;
  padding-left: $blockquote-padding;
  padding-right: $blockquote-padding + $blockquote-border-width;
}

code,
pre {
  font-family: $font-stack-monospace;
  font-size: .95em;
}

pre {
  max-width: 100%;
  overflow-x: auto;
}

.copyright {
  font-size: .9em;
  text-align: center;
  margin-bottom: 0;

  input {
    display: none;

    @media screen {
      ~ span.extra-info {
        display: none;
      }

      &:checked ~ span.extra-info {
        display: inline;
      }
    }
  }

  .extra-info {
    font-size: .8em;
  }
}
