body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    color: #1e1e1e;
    background-color: #fbfbfb;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}
a:link, a:visited {
    text-decoration: none;
    color: #00E;
}
a:hover {
    text-decoration: underline;
}
h1 a:link, h1 a:visited {
    color: inherit;
}
/* Normal Font Weight */
body, header h1, header p {
    font-weight: 100;
}
/* Medium Font Weight */
.scaffolding h2, .scaffolding p {
    font-weight: 200;
}
/* Bold Font Weight */
strong, header h1 strong, header p strong {
    font-weight: 400;
}
.scaffolding {
    max-width: 400px;
    text-align: center;
    margin: 1em 0.5em;
}
header {
    border-left: 0.2em solid #000;
    padding-left: 0.6em;
    padding-right: 0.8em;
    display: inline-block;
    text-align: left;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
}
header h1 {
    margin: 0;
    font-size: 4em;
    line-height: 0.8em;
    display: inline-block;
}
header p {
    display: inline-block;
    font-size: 1.25em;
    margin: 0;
    line-height: 1.1em;
}
.copyright {
    margin-bottom: 0;
}