@mixin responsive-background-image($sizes) {
  $last-size: nth($sizes, -1);

  @each $size in $sizes {
    @include media-screen(map-get($size, 'query')) {
      background-image: url(#{map-get($size, 'url')});
    }

    @if map_has_key($size, 'url@2x') and map-get($size, 'url@2x') != map-get($last-size, 'url@2x') {
      @include media-screen-retina(map-get($size, 'query')) {
        background-image: url(#{map-get($size, 'url@2x')});
      }
    }
  }

  @if map_has_key($last-size, 'url@2x') {
    background-image: url(#{map-get($last-size, 'url@2x')});
  } @else {
    background-image: url(#{map-get($last-size, 'url')});
  }
}
