---
title: Blog
layout: default.html
pagination:
  include: All
  per_page: 12
  permalink_suffix: /{{parent}}/page-{{num}}/
  order: Desc
  sort_by:
    - published_date
---

<h2>Blog</h2>

<ul class="blog-posts">
  {% for post in paginator.pages %}
  <li><a href="/{{ post.permalink }}">{{ post.title }}</a><span class="meta">{{ post.published_date | date: "%-d %b %Y" }}</span></li>
  {% endfor %}
</ul>

{% if paginator.previous_index or paginator.next_index %}
<div class="pagination">
  {% if paginator.previous_index %}
  <span class="previous">
    <a href="/{{ paginator.previous_index_permalink }}">Previous Page</a>
  </span>
  {% endif %}
  {% if paginator.index < paginator.total_indexes %}
  <span class="next">
    <a href="/{{ paginator.next_index_permalink }}">Next Page</a>
  </span>
  {% endif %}
</div>
{% endif %}
