---
title: Blog
layout: default
---

<h2>Blog</h2>

{% if site.posts.size > 0 %}
{% for post in paginator.posts %}
<article>
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
  <p class="meta">{{ post.date | date_to_string }}</p>

  {{ post.content }}
</article>
{% endfor %}
{% else %}
<p>There are no blog posts here (yet!).</p>
<p>I suppose you chould <a href="/">head home</a> or <a href="https://twitter.com/{{ site.accounts.twitter }}">bug me on Twitter</a>!</p>
{% endif %}

{% if paginator.previous_page or paginator.next_page %}
<div class="pagination">
  {% if paginator.previous_page %}
  <span class="previous">
    <a href="{{ paginator.previous_page_path }}">Previous Page</a>
  </span>
  {% endif %}
  {% if paginator.next_page %}
  <span class="next">
    <a href="{{ paginator.next_page_path }}">Next Page</a>
  </span>
  {% endif %}
</div>
{% endif %}
