<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.name }}{% if page.title %} &mdash; {{ page.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    {% include touch-icons.html %}
    {% include metadata.html %}
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="author" href="/humans.txt" />
    <link rel="alternate" type="application/atom+xml" title="{{ site.name }} Blog Feed" href="{{ site.url }}/feed.xml" />
  </head>
  <body>
    <header>
      <div>
        <h1><a href="/">Jessica Stokes</a></h1>
        <p><strong>24</strong> year old <strong>Developer </strong><br />in <strong>Melbourne</strong>, Australia</p>
      </div>
    </header>

    <div class="scaffolding">
      {{ content }}

      {% include copyright.html %}
    </div>
  </body>
</html>
