<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.name }}{% if page.title %} &mdash; {{ page.title }}{% endif %}</title>
    <meta name="viewport" content="width=420,initial-scale=1.0" />
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-precomposed-57x57.png" />
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-precomposed-72x72.png"sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-precomposed-114x114.png" sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-precomposed-144x144.png" sizes="144x144" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="author" href="humans.txt" />
  </head>
  <body>
    <div class="scaffolding">
      <header>
        <h1><a href="/"><strong>Geoff</strong> Stokes</a></h1>
        <p><strong>22</strong> year old <strong>Web Developer</strong></p>
        <p>in <strong>Melbourne</strong>, Australia</p>
      </header>

      {{ content }}

      <p>&copy; 2013 Geoff Stokes.</p>
    </div>
  </body>
</html>